<table cellspacing="0" cellpadding="0" border="0" style="COLOR: #000000; font-family: Arial bold, sans-serif; width:500px; background: transparent !important;">
    <tbody>
        <tr>
            <td style="line-height: 0px; vertical-align: top; line-height: 0px;">
                <table cellspacing="0" cellpadding="0" border="0" style="COLOR: #000000; font-family: Arial bold, sans-serif; width:500px; background: transparent !important;">
                  <tbody>
                    <tr>
                        <td style="width: 25px; border-right: 2px solid #000000;"></td>
                        <td style="padding-left: 20px; font-size: 28pt; font-family: Arial bold, sans-serif; COLOR: #000000; line-height: 34pt;">
                            {{firstName}}<br>{{lastName}}
                        </td>

                        <td style="width: 20px;"></td>

                        <td colspan="3" style="padding-top: 5px; height: 26px; font-size: 9pt; font-family: Arial bold, sans-serif; COLOR: #000000;line-height:9pt; text-align: right; vertical-align: top;">
                              <span>&nbsp;<a href="https://www.facebook.com/MyCompany" target="_blank" rel="noopener"><img border="0" width="19" height="19" src="fb.png" alt="facebook icon" style="border:0; height:19px; width:19px"></a></span>
                              <span>&nbsp;<a href="https://twitter.com/MyCompany404" target="_blank" rel="noopener"><img border="0" width="19" height="19" src="tt.png" alt="twitter icon" style="border:0; height:19px; width:19px"></a></span>
                              <span>&nbsp;<a href="https://www.youtube.com/user/MyCompanyChannel" target="_blank" rel="noopener"><img border="0" width="19" height="19" src="yt.png" alt="youtube icon" style="border:0; height:19px; width:19px"></a></span>
                              <span>&nbsp;<a href="https://www.linkedin.com/company/mycompany404" target="_blank" rel="noopener"><img border="0" width="19" height="19" src="ln.png" alt="linkedin icon" style="border:0; height:19px; width:19px"></a></span>
                              <span>&nbsp;<a href="https://www.instagram.com/mycompany404/" target="_blank" rel="noopener"><img border="0" width="19" height="19" src="it.png" alt="instagram icon" style="border:0; height:19px; width:19px"></a></span>
                              <span>&nbsp;<a href="https://pinterest.com/mycompany404/" target="_blank" rel="noopener"><img border="0" width="19" height="19" src="pt.png" alt="pinterest icon" style="border:0; height:19px; width:19px"></a></span>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px; vertical-align: top; line-height: 0px;">
                <table cellspacing="0" cellpadding="0" border="0" style="COLOR: #000000; font-family: Arial bold, sans-serif; width:500px; background: transparent !important;">
                  <tbody>
                    <tr>
                        <td style="width: 25px; border-right: 2px solid #000000;"></td>
                    
                        <td style="padding-left: 20px; font-size: 12pt; font-family: Arial bold, sans-serif; COLOR: #000000; line-height: 16pt;">
                            {{title}}
                        </td>
                        <td style="width: 20px;"></td>
                        <td style="font-size: 10pt; font-family: Arial bold, sans-serif; COLOR: #000000; line-height: 16pt; text-align: right;">
                            <strong>{{companyName}}</strong>
                        </td>
                      </tr>
                      <tr>
                          <td style="width: 25px; border-right: 2px solid #000000;border-bottom: 2px solid #000000;"></td>
                          <td colspan="3" style="height: 16px; border-bottom: 2px solid #000000;"></td>
                      </tr>
                  </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px; vertical-align: top; line-height: 0px;">
                <table cellspacing="0" cellpadding="0" border="0" style="COLOR: #000000; font-family: Arial bold, sans-serif; width:500px; background: transparent !important;">
                    <tbody>
                        <tr>
                            <td style="width: 25px; border-right: 2px solid #000000;"></td>
                            <td style="padding: 10px 15px 10px 15px;border-right: 2px solid #000000; border-bottom: 2px solid #000000;">
                                <span style="font-size: 10pt; line-height: 18px; color:#000000;">
                                    {{mobile}}
                                </span>
                            </td>
                            <td style="padding: 10px 15px 10px 15px;border-right: 2px solid #000000; border-bottom: 2px solid #000000;">
                                <span style="font-size: 10pt; line-height: 18px; color:#000000;">
                                    <a href="mailto:{{email}}" style="font-size: 10pt; color:#000000; text-decoration: none;"><span style="text-decoration: none; font-size: 10pt;  line-height: 18px; color:#000000; font-family: Arial bold, sans-serif;">{{email}}</span></a>
                                </span>
                            </td>
                            <td style="padding: 10px 15px 10px 15px;border-bottom: 2px solid #000000;">
                                <span style="font-size: 10pt; line-height: 18px; color:#000000;">
                                    {{address1}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 25px; border-right: 2px solid #000000;"></td>
                            <td style="padding: 10px 15px 10px 15px;border-right: 2px solid #000000;">
                                <span style="font-size: 10pt; line-height: 18px; color:#000000;">
                                    {{phone}}
                                </span>
                            </td>
                            <td style="padding: 10px 15px 10px 15px;border-right: 2px solid #000000;">
                                <span style="font-size: 10pt; line-height: 18px; color:#000000;">
                                    <a href="{{websiteUrl}}" target="_blank" rel="noopener" style=" text-decoration:none;"><strong style="color:#000000; font-family: Arial bold, sans-serif; font-size:10pt; line-height: 16pt;">{{websiteName}}</strong></a>
                                </span>
                            </td>
                            <td style="padding: 10px 15px 10px 15px;">
                                <span style="font-size: 10pt; line-height: 18px; color:#000000;">
                                    {{address2}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
